* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    height: 66vh;
    width: 100%;
}


#box1{
    /* background-image: linear-gradient(to left, lightpink, lightgreen); */
    background-color: rgba(255, 255, 255, 0.3);
  /* z-index: -1; */
    /* position: absolute;  */
   margin: auto;
   height: 400px;
   width: 700px;
   box-shadow: 0 0 50px white;
   padding: 50px 50px;
}
body{
    
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvC1pGhW7_BRwnGuBguLE99tfA0faYflekCA&s");
    background-repeat: no-repeat;
    background-size: cover;
    /* z-index: 0; */
}
.nav-link{
    color:rgb(71, 17, 107);
}

  


